.mobileMainWhite{
    max-width: 100%!important;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: #141A1F;
}

.mobileMainBlack{
    max-width: 100%!important;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: #efefef; 
}

.homePageMainWhite{
    max-width: 100%!important;
}

.homePageMainBlack{
    max-width: 100%!important;
}

.homePageMain-mainLogo{
    overflow: hidden;
}

.homePageMain-h2-white{
    display: grid;
    justify-content: center;
    margin-left: 3em;
    margin-top: 7em;
    color: white;
}

.homePageMain-h2-black{
    display: grid;
    justify-content: center;
    margin-left: 3em;
    margin-top: 7em;
    color: #1E1E1E;
}


.homePageMain-h2-white h2{
    font-size: 5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.homePageMain-h2-black h2{
    font-size: 5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.homePageMain-btns{
    margin-top: 3em;
}

.homePageMain-logos{
    margin-top: 2em;
}


.homePageMain-s5White{
    color: black;
}

.homePageMain-s5White h4{
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.homePageMain-HCJ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    background-color: #efefef;
    border-radius: 10%;
    margin-left: 0.5em;
    text-align: center;
    color: #376DDF;
}

.contactMobile{
    margin-bottom: 20px;
    margin-left: 20px!important;
}

.contactFormBox{
    background-color: #efefef;
    height: 40em;
}

.footer-imgs{
    margin: 1em;
}


#from_name, #email, #message{
    color: black;
}

@media (max-width: 1000px){

    .ellipsesMain{
        height: 700px;
        display: block;
    }

    .homePageMain-h2-white{
        display: grid;
        margin-top: 2em;
        margin-bottom: -400px;
        color: white;
    }
    
    .homePageMain-h2-black{
        display: grid;
        margin-top: 2em;
        margin-bottom: -400px;
        color: #1E1E1E;
    }
    
    .homePageMain-h2-white h2{
        font-size: 2.5em;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
        margin-left: 1rem;
    }
    
    .homePageMain-h2-black h2{
        font-size: 2.5em;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
        margin-left: 1rem;
    }

    .homePageMain-btns{
        margin-top: 1em;
        margin-left: 1rem;
        display: flex;
    }
    
    .homePageMain-logos{
    margin-top: 2em;
    margin-left: 1rem;
    }

    .homePageMain-s5White{
        font-size: 12px;
    }

    .homePageMain-s5Black{
        font-size: 12px;
    }

    .contactMobile{
        height: 650px;
        display: flex;
        margin-left: auto;
        margin-left: 8%!important;
        padding-top: 5%;
    }

    .homePageMain-s5White h4{
        font-size: 2em;
    } 

    #inputsMobile{
        margin-left: 1.5em;
    }
}

@media (max-width: 800px){

    .homePageMain-mainLogo{
        display: none;
    }
}
