
.homePageMain-s4Black{
    background-color: #1E1E1E;
}

.homePageMain-s4White{
    background-color: #efefef;
}

.homePageMain-s4-line{
    border-radius: 5%;
    height: 1px;
    background-color: #376DDF;
} 

.portofolioMobile{
    padding-top: 5%
}

#s4-h4White{
    color: black;
    font-weight: 400;
}

#s4-h4Black{
    color: white;
    font-weight: 400;
}

.homePageMain-s4-photo img{
    width: 80%;
    margin-left: 3em;
}

.homePageMain-s4-text-rightBlack h3{
    font-size: 3.5em;
    color: black;
}

.homePageMain-s4-text-rightWhite h3{
    font-size: 3.5em;
    color: white;
}

.homePageMain-s4-text-rightBlack p{
    font-size: 1em;
    color: black;
}

.homePageMain-s4-text-rightWhite p{
    font-size: 1em;
    color: white;
}

@media (max-width: 600px){

    .homePageMain-s3-text{
        justify-content: center;
        padding-bottom: 10%;
    }

    .portofolioMobile{
        padding-top: 30%
    }

    .pilotProjects-mobile{
        margin-left: auto;
    }

    .homePageMain-s4-photo img {
        width: 100%;
        margin: auto;
    }

    .homePageMain-s4-text-rightWhite h3{
        text-align: center;
        font-size: 35px;
    }

    .homePageMain-s4-text-rightBlack h3{
        text-align: center;
        font-size: 35px;
    }

    .homePageMain-s4-text-rightWhite p{
        display: none;
    }

    .homePageMain-s4-text-rightBlack p{
        display: none;
    }

}


