.homePageMain-s3-line{
    border-radius: 5%;
    height: 1px;
    background-color: #376DDF;
}

.homePageMain-s3Black{
    display: block;
    margin-top: 15%;
    margin-left: 0.5em;
    font-size: 56px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1em;
}

.homePageMain-s3Black p{
    color: black;
}

.homePageMain-s3White{
    display: block;
    margin-top: 15%;
    margin-left: 0.5em;
    font-size: 56px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1em;
}

.homePageMain-s3-logos-rightWhite{
    color: white;
}

.homePageMain-s3-logos-rightBlack{
    color: black;
}

.skillsIcons div{
    margin-top: 0.8em;
}

.skillsIcons img{
    margin-right: 0.5em;
}

.homePageMain-s3White p{
    color: white;
}

.homePageMain-s3White span{
    color: #376DDF;
}

.homePageMain-s3Black span{
    color: #376DDF;
}

#h4Black{
    color: #202020;
    font-weight: 400;
}

#h4White{
    color: white;
    font-weight: 400;
}

.homePageMain-s3-text{
    padding-bottom: 20px;
}

.homePageMain-s3-text-rightBlack p{
    width: 80%;
    color: black;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.homePageMain-s3-text-rightWhite p{
    width: 80%;
    color: white;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.homePageMain-s3-icons-right{
    margin-left: 2em;
}

@media (max-width: 1000px){

    .homePageMain-s3White{
        display: block;
        width: 100%;
        font-size: 1.8em;
        font-weight: 500;
        text-align: center;
        line-height: 1.3em; 
        margin-left: 10px;
    }

    .homePageMain-s3Black{
        display: block;
        width: 100%;
        font-size: 1.8em;
        font-weight: 500;
        text-align: center;
        line-height: 1.3em;
        margin-left: 10px;
    }

    .homePageMain-s3-text{
        margin-left: 10px;
    }

    .homePageMain-s3-text-rightWhite{
        width: 100%;
        margin-left: 8%;
        padding-bottom: 10px;
        line-height: 3em;
    }

    .homePageMain-s3-text-rightBlack{
        width: 100%;
        margin-left: 8%;
        padding-bottom: 10px;
        line-height: 3em;
    }

    .homePageMain-s3-text-rightBlack p{
        text-align: center;
        width: 100%;
        font-size: 25px;
    }
    
    .homePageMain-s3-text-rightWhite p{
        text-align: center;
        width: 100%;
        font-size: 25px;
    }
    
    .homePageMain-s3-logos-rightWhite{
        margin-left: 10%;
    }

    .homePageMain-s3-logos-rightBlack{
        margin-left: 10%;
    }

    .skillsIcons{
        text-align: center;
    }

    .skillsIcons div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 2px;
        padding-left: 20%;
    }
}
