.mobileMain{
    max-width: 100%!important;
    overflow-x: hidden!important;
    scroll-behavior: smooth;
}

.homePageMainWhite {
    height: 500vh;
    background-color: #141A1F;
 
}

.homePageMainBlack{
    height: 500vh;
    background-color: #efefef;
}

.homePageMain-mainLogo{
    overflow: hidden;
}

.homePageMain-h2-white{
    display: grid;
    justify-content: center;
    margin-left: 3em;
    margin-top: 7em;
    color: white;
}

.homePageMain-h2-black{
    display: grid;
    justify-content: center;
    margin-left: 3em;
    margin-top: 7em;
    color: #1E1E1E;
}


.homePageMain-h2-white h2{
    font-size: 5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.homePageMain-h2-black h2{
    font-size: 5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.homePageMain-btns{
    margin-top: 3em;
}

.homePageMain-logos{
    margin-top: 2em;
}


.homePageMain-s5White{
    color: black;
}

.homePageMain-s5White h4{
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.homePageMain-HCJ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    background-color: #efefef;
    border-radius: 10%;
    margin-left: 0.5em;
    text-align: center;
    color: #376DDF;
}

.contactFormBoxBlack{
    background-color: #efefef;
    height: 90%;
}

.footer-imgs{
    margin: 1em;
}


#from_name, #email, #message{
    color: black;
}

@media (max-width: 600px){

    .homePageMainWhite {
        height: 450vh;
    }
    
    .homePageMainBlack{
        height: 450vh;
    }

    .homePageMain-mainLogo{
        display: none;
    }

    .ellipsesMain{
        height: 70vh;
        display: block;
    }

    .homePageMain-h2-white{
        display: grid;
        margin-left: 25%;
        margin-top: 2em;
        margin-bottom: -400px;
        color: white;

    }
    
    .homePageMain-h2-black{
        display: grid;
        margin-left: 25%;
        margin-top: 2em;
        margin-bottom: -400px;
        color: #1E1E1E;
    }
    
    .homePageMain-h2-white h2{
        font-size: 2.5em;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
    }
    
    .homePageMain-h2-black h2{
        font-size: 2.5em;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
    }

    .homePageMain-btns{
        margin-top: 1em;
        display: flex;
    }
    
    .homePageMain-logos{
    margin-top: 2em;
    }

    .portofolioMobile{
        display: none;
        height: 0;
        padding-bottom: 10%;
    }

    .homePageMain-s5White{
        font-size: 12px;
    }

    .homePageMain-s5Black{
        font-size: 12px;
    }

    .contactMobile{
        height: 85vh;
        display: flex;
        margin-left: auto;
        padding-left: 7%;
        padding-top: 5%;
    }

    .homePageMain-s5White h4{
        font-size: 2em;
    }
}

@media (min-width: 1000.98px){
    .homePageMain-mainLogo img{
        padding-left: 10em;
        height: 100%;
    }}

@media(max-height: 700px){

    .homePageMainWhite {
        height: 550vh;
    }
    
    .homePageMainBlack{
        height: 550vh;
    }
    .ellipsesMain{
        height: 100vh;
    }

        .contactMobile{
            height: 110vh;
        }
}
