#AppBarStyleBlack{
    background-color: #141A1F;
    max-width: 100%!important;
    overflow-y: overlay!important;
}

#AppBarStyleWhite{
    background-color: #F5F5F5;
    max-width: 100%!important;
    overflow-y: overlay!important;
}

.Navbar {
    align-content: flex-start;
    height: max-content;
}

.navbar-links {
    margin: 0.7em;
    text-decoration: none;
    color: royalblue;
}

.navBarBtns{
    height: 4em;
    font-size: 5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    color: black
}

