#AppBarStyleBlack{
    background-color: #141A1F;
}

#AppBarStyleWhite{
    background-color: white;
}

.Navbar {
    align-content: flex-start;
    height: max-content;
}

.navbar-links {
    margin: 0.7em;
    text-decoration: none;
    color: royalblue;

}