.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: #282c34;
  height: 75em;
  width: 100%;
}

.buttonPlay {
  width: 15em;
}

.playButtonRow {
  margin: 2em;
  padding-top: 5em;
}

.cardCold {
  padding: 1em;
}

.cardCold2 {
  padding-bottom: 5em;
}

.synonymEvent {
  color: blue;
}

.synonymEvent2 {
  color: red;
}

.addWords {
  padding-top: 9em;
  justify-content: center;
}

.addSyn {
  color: aliceblue;
}